<h3>Distributed Issue Management</h3>

<h4>What is hash-task?</h4>
<p>This is a web-based application built on the Tent platform. You can use it to manage tasks/issues for projects in an open, collaborative way!</p>

<h4>How does it work?</h4>
<p>All of the issues you create are published to your Tent feed in the <a href="https://github.com/russplaysguitar/hash-task/blob/master/README.md">hash-task protocol</a>, a simple text-based system for managing tasks via hash-tags. </p>

<h4>System Requirements</h4>
<p>A webkit-based browser (such as Chrome or Safari) is <b>required</b>.</p>

<h4>How do I get started?</h4>
<p>You will need a Tent account in order to use this application. Please <a href="https://tent.is/" target="_blank">sign up for Tent</a> or log in below! Upon logging in to Tent, you'll be prompted to authorize this application to use your data. Please leave all of the boxes checked to ensure full functionality.</p>
