.container {
    background-color: white;
    margin: 4px;
    border: solid 1px gray;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

.footer {
    border-top: solid 1px gray;
    text-align: center;
}

.tasksList, .projectsList {
    margin-bottom: 10px;
}

.newPost textarea {
    width: 524px;
}

.hidden {
    display: none !important;
}
